body {
    box-sizing: border-box;
    font-size: 21px;
    color: #ffff;
    height: 100vh;
    font-family: sans-serif;
}
#bodyContent {
    display: grid;
    grid-template-columns: 231px 777px;
    grid-template-rows: 126.5px 724px;
    align-content: center;
}
/*menu styles*/
#menu {
    height: 100%;
    grid-column: 1;
    grid-row: 1/3;
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 126.5px 1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-items: center;    
}
#logo {
    width: 63px;
    padding: 21px 0;
}
h1 {
    font-size: 31.5px;
    padding: 21px 0 21px 10.5px;
}
svg {
    width: 21px;
    fill: #ffffff;
    stroke: #ffffff;
    padding: 21px;
}
#menu>a, #menu >div >a{
    color: #ffff;
    display: grid;
    width: 100%;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-content: start;
    align-items: center;
    gap: 3px;
}
menu>a{
    align-self: center;
}
#menu >div >a{
    justify-content: start;
    font-size: 15.75px;
}
header {
    grid-column: 2/3;
    grid-row: 1;
    background-color: coral;
    width: 100%;
    height: 100%;
}
main {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
}
/*Header Styles*/
#header{
    display: grid;
    grid-template-columns: 462px 1fr;
    grid-template-rows: 1.1fr 0.9fr;

}/*Header Left Top Side*/
#header>label{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: start;
    align-content: center;
    padding-left: 42px;
}
#header>label>img{
    width: 21px;
    padding-right: 21px;
    padding-top: 5.25px;
}
input[type=search]{
    width:346.5px;
    height: 31.5px;
    border-radius:15.75px ;
    border: none;
}
input[type=search]::placeholder{
    font-style: italic;
    text-align: center;
    font-size: 15.75px;
    color:#898484;
    opacity: 0.8;
} 
/*Header Right Top Side*/
#headerRightTop{
    grid-column: 2/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    justify-content: end;
    align-content: center;
    align-items: center;
    width: 100%;        
}
#headerRightTop > a > img, #headerRightTop > a > svg{
    width: 21px;
    height: 21px;
    padding: 5.25px 10.5px;
}
#headerRightTop > a > img[alt=Avatar]{
    width: 42px;
    height: 42px;
    padding-right: 21px;
}/*Header Left Bottom*/
#headerLeftBottom{
    grid-column: 1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: max-content max-content;
    padding-left: 42px;
    align-items: start;
}
#headerLeftBottom > a >img{
    width: 21px;
    height: 21px;
    padding: 5.25px 21px 5.25px 0;
}/*Header Right Bottom*/
#headerRightBottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-content: start;
}
#headerRightBottom > button{
    box-sizing: border-box;
    font-size: 15.75px;
    font-weight: bold;
    padding: 7px 0;
    border-radius:15.75px ;
    background-color: #1857ea;
    color: #ffff;
    width: 89.25px;
    border: none;
}